<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>

    </head>
    <body>
        <div class="main-content">
      
            {{>header}}
        
        <img class="potrait" src="/Image/img1.jpg"><br> 
        </div>
        
        {{>footer}}
    </body>
</html>